 :root {
     /* color styles */
     --sidebar-bg-color: #ffffff;
     --content-bg-color: #ececec;
     --container-bg-color: #db4f4f;
 }


 .content {
     background-color: var(--content-bg-color);
     padding: 20px;
     overflow-y: auto;
 }

  /* Container class for shared layout structure */
.container {
    display: flex;
    max-width: 1200px;
    padding: 4% 2%;
  }
