:root {
  /* CSS VARIABLES */

  /* colors */
  --color-primary: #2F4858;
  --color-secondary: #9EE493;
  --sidebar-text-dark: #F0F0F0;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}


/* .reservations{
    background-color: #007bff;
  } */

/* Utility classes for spacing */
.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

/* Basic typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Arial', sans-serif;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Basic button styles */
button {
  font-size: 14px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.primary {
  background-color: #007bff;
  color: #fff;
}

button.secondary {
  background-color: #6c757d;
  color: #fff;
}


.dashboard {
  display: grid;
  /* background-color: var(--sidebar-bg-color); */
  grid-template-columns: 350px 1fr;
  /* Sidebar takes 350px, content takes up the rest */
  height: 100vh;
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: var(--color-primary);
}